$primary: #002B79 !default;
$secondary: #084CE3 !default;
$tertiary: $gray-100;
$info: #001D51 !default;
$font-family:  'neue-haas-unica', sans-serif;


$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$font-sizes: (
  6:0.875rem
  ) !default;

$display-font-sizes: (
  1:6.25rem,
  ) !default;


